div.third ul li:nth-child(3)
{
  background-color:blue;
} 
div.third ul li:nth-child(2n)
{
  font-style:oblique;
  font-weight:bold; 
}
div.third ul li:nth-child(2n+1)
{
 font-style:italic;
  font-weight:bold;
}
div ul li:hover{
  color:orange; 
  font-style:normal;
  text-decoration:underline;
  background-color:brown;
}
div p{
  text-transform: capitalize;
  font-weight:bold;
  font-family:Sans Serif;
  text-decoration:underline;
  color: red;
}
p:hover{
  background-color:lightblue;
}

 

 